aiohttp==3.8.3
aiosignal==1.3.1
async-timeout==4.0.2
attrs==22.2.0
beautifulsoup4==4.11.2
certifi==2022.12.7
charset-normalizer==2.1.1
click==8.1.3
clip @ git+https://github.com/openai/CLIP.git@3702849800aa56e2223035bccd1c6ef91c704ca8
contourpy==1.0.7
cycler==0.11.0
Cython==0.29.33
et-xmlfile==1.1.0
Flask==2.2.2
fonttools==4.38.0
frozenlist==1.3.3
ftfy==6.1.1
idna==3.4
importlib-metadata==6.0.0
imutils==0.5.4
itsdangerous==2.1.2
Jinja2==3.1.2
kiwisolver==1.4.4
MarkupSafe==2.1.2
matplotlib==3.6.3
multidict==6.0.4
numpy==1.24.1
openai==0.26.5
opencv-python==4.7.0.68
openpyxl==3.1.0
packaging==23.0
pandas==1.5.3
Pillow==9.4.0
pyparsing==3.0.9
pytesseract==0.3.10
python-dateutil==2.8.2
pytz==2022.7.1
regex==2022.10.31
requests==2.28.2
six==1.16.0
soupsieve==2.3.2.post1
torch==1.13.1
torchvision==0.14.1
tqdm==4.64.1
typing_extensions==4.4.0
urllib3==1.26.14
wcwidth==0.2.6
Werkzeug==2.2.2
yarl==1.8.2
zipp==3.12.1
