<!DOCTYPE html>
<html lang="en-us">
  <head>
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <title>TLV Team - Creative Optimizer</title>

    <!-- The compiled CSS file -->
    <link rel="stylesheet" href="css/production.css" />
    <link rel="stylesheet" href="css/index.css" />

    <!-- Web fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Cabin:400,700|Playfair+Display:900"
      rel="stylesheet"
    />

    <!-- favicon.ico. Place these in the root directory. -->
    <link rel="shortcut icon" href="favicon.ico" />

    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100 h-screen">
    <header
      class="w-full h-14 mb-3 bg-sky-700 text-white px-8 flex items-center"
    >
      <img
        src="/static/logo.png"
        width="40"
        height="40"
        class="mr-4"
        alt="LinkedIn Logo"
      />
      <h3>GAI Hackathon</h3>
    </header>
    <div class="flex justify-center">
      <main
        class="rounded bg-white m-6 p-8 h-2/4 max-w-5xl min-w-[600px] drop-shadow"
      >
        <h1 class="text-2xl text-sky-900 font-bold">Example Ad</h1>
        <div class="grid grid-cols-2 gap-4 divide-x">
          <div>
            <h2 class="text-sky-700 mb-2">Advertisment</h2>
            <img src="{{ user_image }}" class="w-full" />
          </div>
          <div class="pl-4">
            <h2 class="text-sky-700 mb-2">Landing Page</h2>
            <img src="static/website.jpg" class="w-full" />
          </div>
        </div>
      </main>
    </div>
    <footer class="w-full h-10 bg-sky-700 fixed bottom-0"></footer>
  </body>
</html>
