<!DOCTYPE html>
<html lang="en-us">
  <head>
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <title>TLV Team - Creative Optimizer</title>

    <!-- The compiled CSS file -->
    <link rel="stylesheet" href="css/production.css" />
    <link rel="stylesheet" href="css/index.css" />

    <!-- Web fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Cabin:400,700|Playfair+Display:900"
      rel="stylesheet"
    />

    <!-- favicon.ico. Place these in the root directory. -->
    <link rel="shortcut icon" href="favicon.ico" />

    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100 h-screen">
    <header
      class="w-full h-14 mb-3 bg-sky-700 text-white px-8 flex items-center"
    >
      <img
        src="/static/logo.png"
        width="40"
        height="40"
        class="mr-4"
        alt="LinkedIn Logo"
      />
      <h3>GAI Hackathon</h3>
    </header>
    <div class="flex justify-center">
      <main class="rounded bg-white m-6 p-8 h-2/4 max-w-xl drop-shadow">
        <h1 class="text-2xl text-sky-900 font-bold">TLV TEAM</h1>
        <p class="text-gray-600 max-w-xl mt-1 text-justify">
          Predicting ad creative-to-landing-page matching with generated
          suggetions for improvement to increase conversion rate.
          <br />Utilizing a combination of text based GAI with OCR for image
          parsing to create a quality score for every ad on LinkedIn.
        </p>
        <div class="flex flex-row w-full my-6 gap-x-4 justify-center">
          <form action="/ad_1">
            <button
              name="ad_1"
              class="bg-amber-500 hover:bg-amber-600 text-white font-bold py-2 px-4 rounded"
              type="submit"
            >
              See Ad 1
            </button>
          </form>
          <form action="/ad_2">
            <button
              name="ad2"
              class="bg-amber-500 hover:bg-amber-600 text-white font-bold py-2 px-4 rounded"
              type="submit"
            >
              See Ad 2
            </button>
          </form>
        </div>
        <form action="/results" class="w-full flex justify-center">
          <button
            name="result"
            type="submit"
            class="bg-sky-700 hover:bg-sky-900 text-white font-bold py-2 px-4 rounded"
          >
            Calculate Match
          </button>
        </form>
      </main>
    </div>
    <footer class="w-full h-10 bg-sky-700 fixed bottom-0"></footer>
  </body>
</html>
